<div class="bgImg">
  <h2 class="logintitle">Login Form</h2>
  <form action="">
    <div class="container">
      <mat-form-field class="example-full-width" style=" width: 387px;">
        <input matInput placeholder="User Name" value="">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" style=" width: 387px;">
        <input matInput placeholder="Password" value="">
      </mat-form-field>
      <button type="submit"mat-button>Login</button>
    </div>
  </form>
  </div>
